__pycache__/
build/
dist/
test-images-one-folder/nll-image-compare-report-files/
test-images-one-folder/index.html
test-images-two-folders/nll-image-compare-report-files/
test-images-two-folders/index.html
